
{{#with this}}
  <div class="modal__img">
      <img
        class="modal___img-movie"
        srcset='https://image.tmdb.org/t/p/w400{{poster_path}} 1x,
        https://image.tmdb.org/t/p/w500{{poster_path}} 2x'
        src='https://image.tmdb.org/t/p/w400{{this.poster_path}}'
        alt="Poster of movie"
        loading="lazy"
      />
    </div>
    <div class="modal__films">
      <h1 class="modal__film-title">{{this.title}}</h1>
      <ul class="modal__list">
        <li class="modal__item">
          <p class="modal__category">Vote/Votes</p>
          <p class="modal__info"> <span class="modal__info-vote">{{this.vote_average}}</span> / <span class="modal__info-votes"> {{this.vote_count}}</span></p>

        </li>
        <li class="modal__item">
          <p class="modal__category">Popularity</p>
          <p class="modal__info">{{this.popularity}}</p>
        </li>
        <li class="modal__item">
          <p class="modal__category">Original Title</p>
          <p class="modal__info">{{this.original_title}}</p>
        </li>
        <li class="modal__item">
          <p class="modal__category">Genre</p>
          <p class="modal__info">{{this.genres}}</p>
        </li>
      </ul>
      <div class="modal__film-info">
        <h2 class="modal__film">About</h2>
        <p class="modal__film-describe">
          {{this.overview}}
        </p>
      </div>
      <div class="modal__btn">
        <button class="modal__btn-watched" type="button">add to Watched</button>
        <button class="modal__btn-queue" type="button">add to queue</button>
      </div>
{{/with}}